transformers
pillow == 10.0.0
auto-gptq == 0.3.1
bitsandbytes
scipy == 1.11.2
langchain == 0.0.313
nltk == 3.8.1
pypdf == 3.15.4
chromadb
unstructured == 0.10.10
sentence_transformers == 2.2.2
gradio == 3.41.2
xformers
openai == 0.28.1
psycopg2 == 2.9.9





